---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/Nigeria?fields=capital
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"capital":["Abuja"]}]'
  recorded_at: Mon, 07 Aug 2023 17:27:27 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Abuja
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - YHbfzsvWrDgX/oDxLcwqjg==QxIB4qr29bmMKsC7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 48a24c45-e1f0-4178-bb4c-6a58c5b5ce6e
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JTNsEE0uvHcFYmA=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 467.3, "aqi": 5}, "NO2": {"concentration":
        4.07, "aqi": 5}, "O3": {"concentration": 29.68, "aqi": 25}, "SO2": {"concentration":
        0.41, "aqi": 0}, "PM2.5": {"concentration": 5.23, "aqi": 16}, "PM10": {"concentration":
        6.67, "aqi": 6}, "overall_aqi": 25}'
  recorded_at: Mon, 07 Aug 2023 17:27:28 GMT
recorded_with: VCR 6.2.0
