---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/Nigeria?fields=capital
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"capital":["Abuja"]}]'
  recorded_at: Mon, 07 Aug 2023 23:23:13 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Abuja
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - API_NINJA_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - eb570109-dedb-4ad0-8fbb-2eae7fb22683
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JUBzPFKHPHcFoEA=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 821.11, "aqi": 9}, "NO2": {"concentration":
        11.31, "aqi": 14}, "O3": {"concentration": 6.62, "aqi": 5}, "SO2": {"concentration":
        0.67, "aqi": 0}, "PM2.5": {"concentration": 19.73, "aqi": 58}, "PM10": {"concentration":
        27.43, "aqi": 25}, "overall_aqi": 58}'
  recorded_at: Mon, 07 Aug 2023 23:23:14 GMT
recorded_with: VCR 6.2.0
