---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=YOUTUBE_API_KEY&maxResults=1&part=snippet&q=Nameofcountry
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "VAbegHnjrQFavDlKTX9kJsH6QlY",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 3,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Tue, 08 Aug 2023 04:15:32 GMT
recorded_with: VCR 6.2.0
