---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/Greece?fields=capital
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"capital":["Athens"]}]'
  recorded_at: Tue, 08 Aug 2023 16:23:28 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Athens
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - API_NINJA_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 564f8eb3-3e73-45eb-995a-63305c363806
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JWXQKHmmvHcFcYA=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 233.65, "aqi": 2}, "NO2": {"concentration":
        2.23, "aqi": 2}, "O3": {"concentration": 103, "aqi": 170}, "SO2": {"concentration":
        4.35, "aqi": 6}, "PM2.5": {"concentration": 6.95, "aqi": 22}, "PM10": {"concentration":
        9.33, "aqi": 8}, "overall_aqi": 170}'
  recorded_at: Tue, 08 Aug 2023 16:23:29 GMT
recorded_with: VCR 6.2.0
