---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=YOUTUBE_API_KEY&maxResults=1&part=snippet&q=Thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "mOjPAW4nrhKajpg40AVrzoRzrSs",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 6612,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "8RZc7N2F76F2jUHczrTVGkePWiM",
              "id": {
                "kind": "youtube#video",
                "videoId": "NZlClr_ivb4"
              },
              "snippet": {
                "publishedAt": "2021-06-12T20:00:01Z",
                "channelId": "UCX6OQ3DkcsbYNE6H8uQQuVA",
                "title": "Hit The Target, Win $300,000",
                "description": "New Merch - https://mrbeast.store The reason the title says $300000 instead of $200000 is because I didn't want to spoil when the ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/NZlClr_ivb4/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/NZlClr_ivb4/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/NZlClr_ivb4/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "MrBeast",
                "liveBroadcastContent": "none",
                "publishTime": "2021-06-12T20:00:01Z"
              }
            }
          ]
        }
  recorded_at: Mon, 07 Aug 2023 23:23:12 GMT
recorded_with: VCR 6.2.0
