---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=YOUTUBE_API_KEY&maxResults=1&part=snippet&q=Nameofcountry
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "VAbegHnjrQFavDlKTX9kJsH6QlY",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 3,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Tue, 08 Aug 2023 16:21:36 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos/?query=Nameofcountry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - UNSPLASH_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"7814e74bfa62dcc505522924e3c8cf4b"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Tue, 08 Aug 2023 16:21:36 GMT
recorded_with: VCR 6.2.0
