---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Abuja
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - YHbfzsvWrDgX/oDxLcwqjg==QxIB4qr29bmMKsC7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - e16088c4-2eba-4345-95f4-5d8e03f28737
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JS7e2Ga6vHcFfqw=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 410.56, "aqi": 4}, "NO2": {"concentration":
        2.14, "aqi": 2}, "O3": {"concentration": 29.33, "aqi": 24}, "SO2": {"concentration":
        0.26, "aqi": 0}, "PM2.5": {"concentration": 4, "aqi": 12}, "PM10": {"concentration":
        4.74, "aqi": 4}, "overall_aqi": 24}'
  recorded_at: Mon, 07 Aug 2023 15:23:11 GMT
recorded_with: VCR 6.2.0
