---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/France?fields=capital
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"capital":["Paris"]}]'
  recorded_at: Mon, 07 Aug 2023 23:23:14 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - API_NINJA_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 75665f82-df30-4b52-a537-14bfd8442c88
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JUBzbGtAvHcFrNQ=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 253.68, "aqi": 2}, "NO2": {"concentration":
        12.17, "aqi": 15}, "O3": {"concentration": 26.82, "aqi": 22}, "SO2": {"concentration":
        1.39, "aqi": 2}, "PM2.5": {"concentration": 5.92, "aqi": 19}, "PM10": {"concentration":
        8.2, "aqi": 7}, "overall_aqi": 22}'
  recorded_at: Mon, 07 Aug 2023 23:23:15 GMT
recorded_with: VCR 6.2.0
