---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/France?fields=capital
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"capital":["Paris"]}]'
  recorded_at: Mon, 07 Aug 2023 17:27:28 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - YHbfzsvWrDgX/oDxLcwqjg==QxIB4qr29bmMKsC7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 3dbe42d9-a78b-4da6-baa8-e636d0a7de0a
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JTNsOGyevHcFenA=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 226.97, "aqi": 2}, "NO2": {"concentration":
        5.44, "aqi": 6}, "O3": {"concentration": 64.37, "aqi": 66}, "SO2": {"concentration":
        2.65, "aqi": 3}, "PM2.5": {"concentration": 3.13, "aqi": 10}, "PM10": {"concentration":
        4.26, "aqi": 3}, "overall_aqi": 66}'
  recorded_at: Mon, 07 Aug 2023 17:27:29 GMT
recorded_with: VCR 6.2.0
